/* Smaller than standard 1187 (devices and browsers) */
@media only screen and (max-width:1187px) { 
.team_wrap .inner_container                 {width: 100%;}
        ul.profile_wrap{padding:  94px 10px 0;}
}
/* Smaller than standard 1125 (devices and browsers) */
@media only screen and (max-width:1125px) { 
.headq_wrap .country_wrap h3                {font-size: 50px;line-height: 60px; }
}
/* Smaller than standard 1087 (devices and browsers) */
@media only screen and (max-width:1087px) { 
.team_wrap .inner_container                 {width: 100%;}
.loc_wrap .inner_container                  {width: 100%;}
.team_wrap .team_cnt                        {width: 100%;margin: 0 auto;padding: 0 10px;}
.team_hdng                                  {padding: 0 10px;}
.loc_wrap                                   {padding: 0 10px;}

}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1024px) {   
.nav ul                                 {top:140px;}
.btn-menu                               {padding-top:20px;}
.section-intro .shell                   {min-height: auto;}
section.article_wrap                    {background: #efefef none repeat scroll 0 0; padding: 0 10px;}
section.reserach_wrap                   { padding: 0 10px;}
section.patent_wrap                     { padding: 0 10px;}
.wrapper.article_wrapper .shell.fullscreen-image-container {padding:10px 5%; width: 100%;}
ul.profile_wrap li.profile              {width: 50%;}
}

/* Smaller than standard 1000 (devices and browsers) */
@media only screen and (max-width:1000px) {
#header .hdr_sec #nav ul li             {width:auto;padding: 0 10px;}
   
}

/* Smaller than standard 992 (devices and browsers) */
@media only screen and (max-width: 992px) {
.logo_hdr a img {display: inline-block;height: auto;width: 80%;}
}

/* Smaller than standard 900 (devices and browsers) */
@media only screen and (max-width: 900px) {
#header .hdr_sec #nav ul li a           {padding: 23px 0;}
#header .hdr_sec #nav                   {float: left;margin: 0 0 0 35px;}
.headq_wrap .country_wrap               {width: 100%;}
.map                                    {height: 306px;}
.map iframe                             {height: 300px;}
}

/* Smaller than standard 854 (devices and browsers) */
@media only screen and (max-width: 854px) {
.inner_container                        {width: 100%;}
}

/* Smaller than standard 767 (devices and browsers) */
@media only screen and (max-width: 767px) {
/*
#pull_menu                              {display: block; float: right; height: 45px; padding: 23px 14px 0 0;  width: auto;}
.navigation ul.hdr_menu                 {display: none;}

#header .hdr_sec #nav                   {width: 100%;float: none;}
#header .hdr_sec #nav ul li.logo_eye    {width: 100%;float: none;border: 0;}
#header .hdr_sec #nav ul li             {width: 100%;border: 0;border-top:1px solid #efefef;}
#header .hdr_sec #nav ul li.logo_eye    {border-top: 1px solid #76767b;}
    */
/*.btn-menu                               {padding-top:30px;}
 #header .hdr_sec #nav ul               {margin: 0;position: absolute;float: none; width: 100%;z-index: 9999;background: #fff;left: 0;}*/
.article_wrap .article_post             {float: none;display: block;width: 100%;}
.article_wrap h3                        {font-size: 38px;line-height: 28px;}
.article_wrap .icon                     {width: 25%;}
.article_wrap h3.news_hdng              {padding:30px 0 10px;}
.article_wrap .src_name                 {font-size: 16px;line-height: 20px;}
.article_wrap .feature                  {font-size: 15px;line-height: 20px;padding: 0 0 10px 15px;}
.article_wrap p                         {font-size: 15px;line-height: 24px;}
.article_wrap a.article                 {font-size: 16px;}
.article_wrap .recent_atc_wrap a        {padding-bottom: 10px;}
    
.reserach_wrap  .article_post           {float: none;display: block;width: 100%;}
.reserach_wrap  h3                      {font-size: 38px;line-height: 28px;}
.reserach_wrap  .icon                   {width: 25%;}
.reserach_wrap  h3.news_hdng            {padding:30px 0 10px;}
.reserach_wrap  .src_name               {font-size: 16px;line-height: 20px;}
.reserach_wrap .feature                 {font-size: 15px;line-height: 20px;padding: 0 0 10px 15px;}
.reserach_wrap  p                       {font-size: 15px;line-height: 24px;}
.reserach_wrap  a.article               {font-size: 16px;}
.reserach_wrap  .recent_atc_wrap a      {padding-bottom: 10px;}
    
.patent_wrap .article_post             {float: none;display: block;width: 100%;}
.patent_wrap h3                        {font-size: 38px;line-height: 28px;}

.patent_wrap h3.news_hdng              {padding:30px 0 10px;}
.patent_wrap .src_name                 {font-size: 16px;line-height: 20px;}
.patent_wrap .feature                  {font-size: 15px;line-height: 20px;padding: 0 0 10px 15px;}
.patent_wrap p                         {font-size: 15px;line-height: 24px;}
.patent_wrap a.article                 {font-size: 16px;}
ul.profile_wrap li.profile              {width: 100%;margin: 0 auto;float: none;padding-right: 0;display: block;padding: 0 10px;}
    
.our_team_wrap .team_hdng h3            {font-size: 38px;line-height: 48px;}
.our_team_wrap .team_hdng p             {font-size: 15px;line-height: 24px;}
.loc_wrap h3                            {font-size: 38px;line-height: 48px;}
.loc_wrap p                             {font-size: 15px;line-height: 24px;}
.headq_wrap .country_wrap .map_title    {width: 100%;padding: 20px 0;}
.team_wrap .team_cnt h3                 {font-size: 38px;line-height: 48px;}
ul.profile_wrap li.profile h4           {font-size: 30px;line-height: 40px;}
.team_wrap .team_cnt p                  {font-size: 15px;line-height: 24px;}
ul.profile_wrap li.profile p            {font-size: 15px;line-height: 24px;}
.team_bnr_caption                       {font-size: 15px;line-height: 24px;padding: 16px 0 16px 16px;}
.headq_wrap                             {margin: 20px 0;}
.team_wrap .team_cnt h3                 {margin: 20px 0;}
ul.profile_wrap li.profile.last         {padding-right: 10px;}
.headq_wrap .country_wrap h3            {font-size: 38px;line-height: 48px;}
ul.sub-menu li                          {background: #f1f1f1;padding: 0 !important;}    
/*li ul.sub-menu                          {border-left: 0;border-right: 0;position: relative !important;top: 0;}*/
li ul.sub-menu                          {border-bottom: 0;}
.hdr_menu li                            {padding: 0 !important;}
    #header .hdr_sec #nav ul li a            {width:auto;font-size:12px;}
    #header .hdr_sec #nav ul li {padding:0 10px !important;}
}
/* Smaller than standard 640 (devices and browsers) */
@media only screen and (max-width: 640px) {
.logo {
    width: 30%;
}
    #header .hdr_sec #nav {
    float: left;
    margin: 0 0 0 5px;
}
    #header .hdr_sec #nav ul li.logo_eye {
    border-left: 1px solid #efefef;
    width: 21%;
}
}
/* Smaller than standard 480 (devices and browsers) */
@media only screen and (max-width: 480px) {
.btn-menu                               {padding-top:15px;}
.article_wrap h3                        {font-size: 25px;line-height: 28px;}
.article_wrap .src_name                 {font-size: 12px;line-height: 15px;}
.article_wrap .feature                  {font-size: 15px;line-height: 20px;padding: 0 0 10px 4px;}
.article_wrap .feature strong           {padding: 0 8px 0 0;}
    
.reserach_wrap h3                       {font-size: 25px;line-height: 28px;}
.reserach_wrap .src_name                {font-size: 12px;line-height: 15px;}
.reserach_wrap .feature                 {font-size: 15px;line-height: 20px;padding: 0 0 10px 4px;}
.reserach_wrap .feature strong          {padding: 0 8px 0 0;}

.patent_wrap .icon                     {width: 35%;}
.patent_wrap .icon                     {padding-right: 5px;}
.patent_wrap h3                        {font-size: 25px;line-height: 28px;}
.patent_wrap .src_name                 {font-size: 12px;line-height: 15px;}
.patent_wrap .feature                  {font-size: 15px;line-height: 20px;padding: 0 0 10px 4px;}
.patent_wrap .feature strong           {padding: 0 8px 0 0;}

    
.our_team_wrap .team_hdng h3           {font-size: 25px;line-height: 28px;}
.team_wrap .team_cnt h3                {font-size: 25px;line-height: 28px;}
.team_wrap .team_cnt h3                {font-size: 25px;line-height: 28px;}
.headq_wrap .country_wrap h3             {font-size: 25px;line-height: 28px;}
 ul.profile_wrap li.profile h4         {font-size: 20px;line-height: 26px;}
    
    .logo {width: 36%;}
    #header .hdr_sec #nav{width: 62%;float: right;}
    #header .hdr_sec #nav ul li a{font-size: 10px;}
    #header .hdr_sec #nav ul li.logo_eye{width: 30%;}
    #header .hdr_sec #nav ul li{padding: 0 5px !important;}
}


/* Smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 320px) {
.patent_wrap h3                        {display: block;width: 100%;}
.logo_hdr                              {display: block;margin: 0 auto 45px;vertical-align: bottom; width: 100%;}
.logo_hdr  img                         {width: 100%;}
}